<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://google.com" class="link" target="_blank">谷歌</a>｜
            <a href="https://google.com" class="link" target="_blank">百度</a>｜
            <a href="https://google.com" class="link" target="_blank">淘宝</a>｜
            <a href="https://google.com" class="link" target="_blank">知乎</a>       
        </div>
        <p class="copyright">
            Copyright © 2020 shifayuan.cn All Right Reserved
        </p>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.3/jquery.min.js"></script>